<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona Tracker</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>
    <div class="container">
        {{>navbar}}
        <br><br>
        {{#each st}}
        <div class="row">
            <p><span style="font-size: 16px;;"> <strong> =></strong></span><span
                    style="font-size: 18px;color:crimson">{{this.question}} </span></p>

            <p style="color: rgb(65, 162, 226);"> {{this.answer}}</p>
        </div>
        {{/each}}
    </div>
</body>

</html>
